@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
    0% { background-color: yellow; }
    50% { background-color: transparent; }
    100% { background-color: yellow; }
}

.blink {
    animation: blink 1s ease-in-out;
}